{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ asset('PDF/CV.pdf') }}" download="leobrugereCV">Télécharger mon CV</a>
    </div>
{% endblock %}