{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        {% for scos in scol %}
            <div class="col s12 m6">
                    <div class="center">
                        <h4 class="card-nom">{{ scos.nom }}</h4> <br>
                        <h5 class="card-annee">{{ scos.annee }}</h5> <br>
                        <h6 class="card-filiere">{{ scos.filiere }}</h6> <br> <br>
                        <div class="divider">

                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}